<style>

</style>

<div class="grid-1-2-6 hide-sm">
    <div class="nav-icons bg-dark">
        <div class="container">
            <div class="">
                <ul class="nav nav-pills center-icons" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true"> <i class="fas fa-globe fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false"><i
                                class="fas fa-book-reader fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-question" role="tab"
                            aria-controls="pills-profile" aria-selected="false"><i
                                class="fas fa-book-reader fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false"><i
                                class="fab fa-neos fa-2x"></i></i>news</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-setting" role="tab"
                            aria-controls="pills-setting" aria-selected="false"><i class="fas fa-cog fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-user-profile-tab" data-toggle="pill" href="#pills-user-profile"
                            role="tab" aria-controls="pills-user-profile" aria-selected="false"><i
                                class="fas fa-user fa-2x"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="info-section" style="border-right: 4px solid #f3f3f3;">
        <div class="mx-3">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <h3>{{user.length}} Members</h3>
                    {{#each user}}
                    <div class="space-between">
                        <p><a>{{firstname}} {{lastname}}</a></p>
                        <div>
                            {{>_dropdown}}
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                <a class="dropdown-item"
                                    href="/private-chat/?from={{../loggedUser.firstname}} {{../loggedUser.lastname}}&to={{firstname}} {{lastname}}">
                                    Message Privately
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/chat-room/userprofile/{{_id}}">
                                    View Profile</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="tab-pane fade parent" id="pills-profile" role="tabpanel"
                    aria-labelledby="pills-profile-tab">
                    <input type="text" name="" class="before" id="enter-book">
                    <button id="book-search" class="btn btn-block shadow-lg btn-dark">Search </button>
                    <h1 class="loader">loading</h1>
                    <div id="books-output"></div>

                </div>

                {{!-- questions --}}
                <div class="tab-pane fade parent scroll" id="pills-question" role="tabpanel"
                    aria-labelledby="pills-profile-tab">
                    <p>Want help with a question?</p>
                    <button class="btn btn-dark btn-block" id="post-question">Post Question</button>
                    <div id="questions-form" class="questions-form">
                        <form action="/api/questions" method="post" enctype="multipart/form-data">
                            <div class="shadow-sm">
                                <input type="text" name="topic" class="my-input" id="question-topic"
                                    placeholder="Topic of question">
                            </div>
                            <div class="shadow-sm">
                                <textarea name="body" class="my-input" id="question-body" cols="30" rows="10"
                                    placeholder="What's the question?" placeholder="Whats the question?"></textarea>
                            </div>
                            <p class="text-center">want to upload an image instead?</p>
                            <label for="question-image" class="btn btn-dark">Upload Image</label>
                            <input type="file" name="file" id="question-image">
                            <input type="submit" value="Ask question..." class="btn btn-dark">
                            <button class="btn btn-danger" id="cancel-question">Cancel</button>
                        </form>
                    </div>

                    <div id="posted-questions"></div>

                </div>


                <div class="tab-pane fade parent" id="pills-contact" role="tabpanel"
                    aria-labelledby="pills-contact-tab">
                    <label for="select-news">select news category</label>
                    <select name="select-news" id="selectNews" class="before">
                        <option value="general">General</option>
                        <option value="sports">Sports</option>
                        <option value="science">Science</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="business">Business</option>
                    </select>
                    <button id="news-search" class="btn btn-block shadow-lg btn-dark mt-2">Search </button>
                    <h1 class="newsLoader">loading</h1>
                    <div id="news-output"></div>
                </div>
                <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                    Private Chat here..
                </div>
                <div class="tab-pane fade" id="pills-user-profile" role="tabpanel"
                    aria-labelledby="pills-user-profile-tab">
                    {{> _edit-profile-lg}}
                </div>
            </div>
        </div>



    </div>
    <div class="chats">
        <div id="msg-Container " class="message-container">
            <div class="mx-3 date" id="date"></div>

        </div>
        <form id="chatFormLg">
            <div class="input px-3" id="input">

                <div class="display-flex">
                    <i class="fas fa-globe"></i>
                    <input type="text" class="my-input" id="msg-input" name="msg" placeholder="Enter message" required>
                    <div class="mt-2">
                        <label for="file" class="btn btn-dark" id="file-label"> File</label>
                        <input type="file" name="choose-file" id="file">
                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-dark" id="msg-send" value="Send">
                    </div>

                </div>
            </div>
        </form>


    </div>
</div>


<script>
    const askQuestion = document.getElementById('post-question')
    const cancelQuestion = document.getElementById('cancel-question')
    const questionForm = document.getElementById('questions-form');
    const topic = document.getElementById('question-topic');
    const questionBody = document.getElementById('question-body')
    const questionOutput = document.getElementById('posted-questions')

    questionForm.style.display = 'none';

    askQuestion.addEventListener('click', function (e) {
        e.preventDefault();
        questionForm.style.display = 'block';
        questionOutput.style.display = 'none'
    })
    cancelQuestion.addEventListener('click', function (e) {
        e.preventDefault();
        topic.innerHTML = '';
        questionBody.innerHTML = ''
        questionForm.style.display = 'none';
        questionOutput.style.display = 'block'
    })


</script>