<div class="hide-on-large">

    <div class="tab-content bg-dark" id="pills-tabContent">
        <div class="tab-pane fade show active  text-white" id="pills-home-sm" role="tabpanel"
            aria-labelledby="pills-home-tab">
            <div class="usersList-sm mx-3">
                <h3>{{user.length}} Members</h3>
                {{#each user}}
                <div class="space-between">
                    <p><a>{{firstname}} {{lastname}}</a></p>
                    <div>
                        {{>_dropdown}}
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item"
                                href="/private-chat/?from={{loggedUser.firstname}} {{loggedUser.lastname}}&to={{firstname}} {{lastname}}">
                                Message Privately
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/chat-room/userprofile/{{_id}}">
                                View Profile</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>


        </div>
        <div class="tab-pane fade" id="pills-profile-sm" role="tabpanel" aria-labelledby="pills-profile-tab">
            download
            books

        </div>
        <div class="tab-pane fade" id="pills-contact-sm" role="tabpanel" aria-labelledby="pills-contact-tab">

            <div class="chats">

                <div id="msg-Container " class="message-container">
                    <div class="mx-3 date" id="date"></div>
                </div>
                <div class="input px-3" id="input">

                    <div class="display-flex">
                        <i class="fas fa-globe"></i>
                        <input type="text" class="my-input" id="msg-input" name="msg" placeholder="Enter message"
                            required>
                        <div class="mt-2">
                            <label for="file" class="btn btn-dark" id="file-label"> File</label>
                            <input type="file" name="choose-file" id="file">
                        </div>
                        <div class="">
                            <button class="btn btn-dark" id="msg-send">Send</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="pills-news-sm" role="tabpanel" aria-labelledby="pills-contact-tab">news
        </div>
        <div class="tab-pane fade" id="pills-userprofile-sm" role="tabpanel" aria-labelledby="pills-contact-tab">
            profile
        </div>
    </div>



    <div class=" bg-dark">
        <ul class="nav nav-pills mb-3 display-bottom" id="pills-tab" role="tablist" style="display: flex;">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-sm" role="tab"
                    aria-controls="pills-home" aria-selected="true"><i class="fas fa-globe"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-sm" role="tab"
                    aria-controls="pills-profile" aria-selected="false"><i class="fas fa-globe"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact-sm" role="tab"
                    aria-controls="pills-contact" aria-selected="false"><i class="fas fa-globe"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-news-sm" role="tab"
                    aria-controls="pills-contact" aria-selected="false"><i class="fas fa-globe"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-userprofile-tab" data-toggle="pill" href="#pills-news-sm" role="tab"
                    aria-controls="pills-contact" aria-selected="false"><i class="fas fa-globe"></i></a>
            </li>
        </ul>

    </div>

</div>