<style>
    .text {
        cursor: pointer;
    }
</style>

<p class="text-muted text" data-toggle="modal" data-target="#exampleModalLong">
    View Comments
</p>
<div class="modal fade text-dark" id="exampleModalLong" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> posted by: {{post.user.firstname}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="image-and-name">
                        <img src="/img/schoolbooks.png" class="round-img" alt="{{post.title}}">
                        <div class="post-details">
                            posted by: {{post.user.firstname}}
                        </div>
                    </div>
                    <div class="post-details">

                    </div>
                </div>
                <div>
                    <p class="text-muted">title: {{post.title}}</p>
                    <p>body: <span class="text-black">{{post.body}}</span> </p>
                </div>
                <div class="text-muted">{{post.comments.length}} comment(s)</div>
                <div class="comments">
                    {{#if post.comments}}
                    {{#each post.comments}}
                    {{> _commentBody}}
                    {{/each}}
                    {{else}}
                    no comment yet.

                    {{/if}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn  btn-dark" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="">Add comment
                </button>
            </div>
        </div>
    </div>
</div>