<div class="all-center" style="height: 92vh;">
    <div class="my-3">
        <li>select room to join</li>
        <li>Join and have fun!</li>
        <li>{{user._id}}</li>


    </div>

    <form action="/chat-room/{{user.programme}}">
        <div class="hoverable">
            <input type="text" class="my-input text-lowercase " name="username" placeholder="username."
                value="{{user.firstname}} {{user.lastname}}" readonly>
        </div>
        <div class="hoverable">
            <input type="text" class="my-input text-lowercase  hide" name="id" placeholder="id." style="display: none;"
                value="{{user._id}}">
        </div>
        <div class="hoverable">
            <input type="text" name="room" id="" class="my-input text-capitalize" value="{{user.programme}}" readonly>
        </div>

        <div class="shadow-sm">
            <input type="submit" value="Go to Room" class="btn btn-block btn-dark">
        </div>



    </form>
</div>