<img src="{{file}}" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">{{{trimText title}}}</h5>
    <p class="card-text">{{{trimText body}}}</p>
    <a href="/post/details/{{_id}}" class="btn btn-primary">Go somewhere</a>
    <p class="card-text"><small class="text-muted">{{infoType}}</small></p>
</div>