<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{singleUser.firstname}} {{singleUser.lastname}}'profile</title>
    <style>
        .list-group .list-group-item {
            background-color: none !important;
        }
    </style>
</head>

<body>
    <div class="">
        <div>
            <div class="jumbotron bg-dark">
                <div class="container">
                    <div class="display-flex ">
                        <div class="nameStripper-large">
                            <h1>{{nameStripper singleUser.firstname}}</h1>
                        </div>
                        <div>

                            <h1 class="display-4">{{singleUser.firstname}} {{singleUser.lastname}}</h1>
                            <p class="">
                                <ul class="list-group list-group-flush bg-transparent">
                                    <li class="list-group-item bg-transparent">
                                        <i class="fas text-grey fa-school" style="margin-right: 3rem;"></i><span
                                            class="text-capitalize"><strong>{{singleUser.school}}</strong></span>
                                    </li>
                                    <li class="list-group-item bg-transparent">
                                        <i class="fas text-grey fa-book" style="margin-right: 3rem;"></i><span
                                            class="text-dark "><strong>{{singleUser.programme}}</strong></span>
                                    </li>
                                    <li class="list-group-item bg-transparent">
                                        <i class="fas text-grey fa-envelope" style="margin-right: 3rem;"></i><span
                                            class="text-dark "><strong>{{singleUser.email}}</strong></span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>
                <a href="/private-chat/?from={{loggedUser.firstname}} {{loggedUser.lastname}}&to={{singleUser.firstname}} {{singleUser.lastname}}"
                    class="btn btn-dark">Send Private Message</a>
            </div>
        </div>

    </div>

    {{!-- user's posts  --}}
    <div class="container">
        {{#if post}}
        <div class="grid-3">
            {{#each post}}
            {{!-- check if theres an image --}}
            {{#if file}}
            <div class="card">{{> _showPostWithImage}}</div>
            {{else}}
            <div class="card">{{> _showPostWithoutImage}}</div>
            {{/if}}
            {{/each}}
        </div>
        {{else}}
        <p>No post yet...</p>
        {{/if}}
    </div>
</body>

</html>